:root {
  --color-dark: #000;
  --color-dark-30: #303030;
  --color-light: #fff;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-light);
  background: #444; //TODO: temporary, replace with image
}
