/***********************
 * Colors & Background *
 ***********************/

:root {
  --color-dark: #000;
  --color-dark-30: #303030;
  --color-dark-50: rgba(0, 0, 0, 0.5);
  --color-light: #fff;
}


body {
  color: var(--color-light);
}

main {
  background: url("../assets/mobile/bg-image-daytime.jpg") no-repeat, rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: multiply;
}

.more-button {
  background: var(--color-light);
  color: var(--color-dark-50);
}
