/***********************
 * Colors & Background *
 ***********************/

:root {
  --color-dark: #000;
  --color-dark-30: #303030;
  --color-dark-50: rgba(0, 0, 0, 0.5);
  --color-light: #fff;
  --color-light-75: rgba(255, 255, 255, 0.75);
}


body {
  color: var(--color-light);
}

.quote button {
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: unset;
  }
}

main {
  background: url("../assets/mobile/bg-image-daytime.jpg") no-repeat, rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: multiply;
}

.more-button {
  background: var(--color-light);
  color: var(--color-dark-50);

  &:hover img,
  &:focus img {
    opacity: 0.5;
  }
}

.details {
  background: var(--color-light-75);
  backdrop-filter: blur(2.5em);
  color: var(--color-dark-30);
}
