@use "resolutions" as *;

/***********************
 * Colors & Background *
 ***********************/

:root {
  --color-dark: rgb(0, 0, 0);
  --color-dark-50: rgba(0, 0, 0, 0.5);
  --color-dark-75: rgba(0, 0, 0, 0.75);
  --color-less-dark: rgb(48, 48, 48);
  --color-less-dark-25: rgba(48, 48, 48, 0.25);
  --color-light: rgb(255, 255, 255);
  --color-light-25: rgba(255, 255, 255, 0.25);
  --color-light-75: rgba(255, 255, 255, 0.75);
}

body {
  color: var(--color-light);
}

.quote button {
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: unset;
  }
}

body {
  --background-image: url("../assets/mobile/bg-image-daytime.jpg");
  --detail-background: var(--color-light-75);
  --details-color: var(--color-less-dark);
  --details-border: var(--color-less-dark-25);


  @include for-tablet {
    --background-image: url("../assets/tablet/bg-image-daytime.jpg");
  }

  @include for-desktop {
    --background-image: url("../assets/desktop/bg-image-daytime.jpg");
  }

  &.evening {
    --background-image: url("../assets/mobile/bg-image-nighttime.jpg");
    --detail-background: var(--color-dark-75);
    --details-color: var(--color-light);
    --details-border: var(--color-light-25);

    @include for-tablet {
      --background-image: url("../assets/tablet/bg-image-nighttime.jpg");
    }

    @include for-desktop {
      --background-image: url("../assets/desktop/bg-image-nighttime.jpg");
    }
  }

  background: var(--background-image) no-repeat, rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: multiply;
}

.more-button {
  background: var(--color-light);
  color: var(--color-dark-50);

  &:hover img,
  &:focus img {
    opacity: 0.5;
  }
}

.details {
  background: var(--detail-background);
  backdrop-filter: blur(2.5em);
  color: var(--details-color);

  li:nth-of-type(3), li:nth-of-type(4) {
    @include for-desktop {
      border-left: 1px solid var(--details-border);
    }
  }
}
