@use "resolutions" as *;

/**********
 * Layout *
 **********/

main {
  height: 100%;
  padding: 2em 1.625em 2.5em;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: end start;

  @include for-tablet {
    padding: 5em 4em 4em;
  }

  &.compact {
    grid-template-rows: max-content auto;
    align-items: start;

    .quote {
      display: none;
    }
  }
}

.quote {
  width: 100%;
  display: grid;
  grid-template: auto auto / 1fr auto;
  grid-auto-flow: column;
  gap: 0.5em 1em;
  align-items: start;

  @include for-tablet {
    max-width: 35.8em;
    row-gap: 0.8125em;
  }
}

.clock {
  margin-top: 4.1875em;

  @include for-tablet {
    margin-top: 5.625em;
  }
}

.greeting {
  .extended-greeting {
    display: none;

    @include for-tablet {
      display: inline;
    }
  }

  img {
    vertical-align: top;
    margin-right: 1em;
  }
}

.current-time, .location {
  margin-top: 1em;

  @include for-tablet {
    margin-top: 0;
  }
}

.timezone {
  margin-left: 0.33em;
}

.more-button {
  margin-top: 4em;
  padding-block: 0.33em;
  padding-inline: 1.5em 0.33em;
  border-radius: 2.333em;
  display: flex;
  align-items: center;

  @include for-tablet {
    margin-top: 5em;
    padding-block: 0.5em;
    padding-inline: 1.3125em 0.5em;
  }

  & > * {
    display: block;
  }

  img {
    width: 2.667em;
    margin-left: 1.33em;

    @include for-tablet {
      width: 2.5em;
      margin-left: 0.8125em;
    }

    &.pointing-down {
      transform: rotate(180deg);
    }
  }
}

.details {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 3em 1.625em;

  @include for-tablet {
    padding: 7.5em 4em;
  }

  ul {
    @include for-tablet {
      display: grid;
      grid-template: auto auto / max-content max-content;
      grid-auto-flow: column;
      place-items: start;
      gap: 3em 5em;
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-tablet {
      flex-direction: column;
      align-items: start;
    }

    & + * {
      margin-top: 1em;

      @include for-tablet {
        margin-top: 0;
      }
    }
  }
}
